{% extends "base.html" %}

{% block style %}
<style>
    button {
        padding:0;
        border:none;
        background:none;
        padding-left:20px;
        padding-right:20px;
        margin-left:20px;
        margin-right:20px;
        margin-top:20px;
        margin-bottom:20px;
    }
    button:hover, button:focus {
        filter: brightness(80%);
        outline: none;
    }
    body{
        background-image: url("static/assets/background.png");
        background-size: cover;
        background-attachment: fixed;
    }
    .pages {
        text-align: center;
    }
    .pages img {
        padding:0;
        border:none;
        background:none;
        padding-left:20px;
        padding-right:20px;
        margin-left:20px;
        margin-right:20px;
        margin-top:20px;
        margin-bottom:20px;
    }
    ::-webkit-scrollbar {
        display:none
    }

</style>
{% endblock %}

{% block body %}
<form action="/display_page" method="post">
    <div class="back">
        <button style="position:relative; top:30px" type="sumbit" name='{{folder}}'><img src="static/assets/arrow.png" width="62" height="50.5" title="return to folder"></button>
    </div>

    <div class="pages">
        {% for item in thumbnail_list %}
        <image type="sumbit" name='{{item[0]}}'><img src="static/{{item[0]}}" width="{{item[1]}}" height="{{item[2]}}" title="{{item[3]}}"></button>
        {% endfor %}
    </div>
</form>
{% endblock %}