{% extends "base.html" %}

{% block script %}
<script>
    // dropdown menu
    function dropdown() {
        document.getElementById("dropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropdown_button')) {
            var dropdowns = document.getElementsByClassName("dropdown");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    // loading
    var clickCount = 0;

    function disableButton() {
        loading()
        
        if (clickCount == 1){
            var elements = document.getElementsByClassName("button");
            for(var i = 0; i < elements.length; i++) {
                elements[i].disabled = true;
            }
        }
        else {
            ;
        }
        clickCount += 1
    }

    function loading(){

        var loading = document.getElementsByClassName("loading")
        var loading = loading[0];
        loading.style.opacity = "100";

    }
</script>
{% endblock %}

{% block style %}
<style>
    button {
        border:none;
        background:none;
        padding-left: 20px;
        padding-right: 20px;
        margin-left:20px;
        margin-right:20px;
        margin-top:20px;
        margin-bottom:20px;
        top:20px;
    }
    button:not(.dropdown_option):hover, button:not(.dropdown_option):focus {
        filter: brightness(90%);
        outline: none;
    }
    body{
        background-image: url("static/assets/background.png");
        background-size: cover;
        background-attachment: fixed;
        font-family: Arial;
    }
    h1{
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        position:relative;
        bottom: 40px;
    }
    .thumbnails {
        text-align: center;
    }
    .box{
        display: inline-block;
    }
    .box img{
        border-radius: 10px;
        box-shadow:0px 0px 7px rgba(0,0,0,0.1);
    }
    ::-webkit-scrollbar {
        display:none
    }
    .text{
        position:relative;
        bottom:10px;
    }
    .header ul{
        position:relative;
        top: 22px;
        z-index: 1;
        margin:0px;
        padding:0px;
    }
    .dropdown {
        display: none;
        position: absolute;
        background-color: white;
        left:280px;
        top:0px;
        overflow: auto;
        box-shadow:0px 0px 7px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius:10px;
        font-family: Arial;
        font-size:20px;
    }
    .dropdown button{
        height: 40px;
        border-radius:5px;
        margin-right:10px;
        margin-left:10px;
        background-color: white;
        margin-top:10px;
        margin-bottom:10px;
        min-width: 100px;
        overflow: auto;
        text-align:left;
    }
    .dropdown button:hover{
        background-color: #f0f0f0;
    }

    .show {display: block;}

    .loading {
        opacity: 0;
        display:flex;
        position:absolute;
        top:50px;
        left:47.25%;
    }
    .loading::after{
        content:"";
        width:50px;
        height:50px;
        border: 8px solid #fff;
        border-top-color: #dfbf98;
        box-shadow:0px 0px 7px rgba(0,0,0,0.1);
        border-radius:50%;
        animation: loading 1s linear infinite;
    }
    @keyframes loading {
        to {
            transform: rotate(1turn);
        }
    }
</style>
{% endblock %}

{% block body %}
<form action="/folder" method="post">
    <div class="header">
        <ul>
            <button type="sumbit" name="home_button"><img src="static/assets/arrow.png" width="62" height="50.5" title="return home"></button>
            <button type="button" onclick="dropdown()" name="sort"><img class = "dropdown_button" src="static/assets/sort.png" width="65.5" height="63" title="sort"></button>
            <div id="dropdown" class="dropdown">
                <button class="dropdown_option" onclick="disableButton()" type="submit" style="margin-bottom:5px;" name="name_button_{{folder}}" title="sort by name">Name</button>
                <br>
                <button class="dropdown_option" onclick="disableButton()" type="submit" style="margin-top:5px;" name="date_button_{{folder}}" title = "sort by date">Date</button>
            </div>
        </ul>
    </div>

    <h1>{{folder}}</h1>

    <div class="thumbnails">
        {% for item in thumbnail_list %}
        <div class = "box">
            <button type="sumbit" name='{{item[0]}}'><img src="static/{{item[0]}}" width="{{item[1]}}" height="{{item[2]}}" title="{{item[3]}}"></button>
            <div class = "text">
                {{item[3]}}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="loading"></div>
</form>
{% endblock %}
