{% extends "base.html" %}

{% block style %}
<style>
    button {
        border:none;
        background:none;
        padding-left: 20px;
        padding-right: 20px;
        margin-left:20px;
        margin-right:20px;
        margin-top:20px;
        margin-bottom:20px;
        top:20px;
    }
    button:hover, button:focus {
        filter: brightness(90%);
        outline: none;
    }
    body{
        background-image: url("static/assets/background.png");
        background-size: cover;
        background-attachment: fixed;
        font-family: Arial;
    }
    .thumbnails {
        text-align: center;
    }
    .box{
        display: inline-block;
    }
    .box img{
        border-radius: 10px;
        box-shadow:0px 0px 7px rgba(0,0,0,0.1);
    }
    ::-webkit-scrollbar {
        display:none
    }
    .text{
        position:relative;
        bottom:10px;
    }
</style>
{% endblock %}

{% block body %}
    <form action="/folder" method="post">
        <div class="back">
            <button style="position:relative; top:30px" type="sumbit" name='home'><img src="static/assets/arrow.png" width="62" height="50.5" title="return home"></button>
        </div>

        <div class="thumbnails">
            {% for item in thumbnail_list %}
            <div class = "box">
                <button type="sumbit" name='{{item[0]}}'><img src="static/{{item[0]}}" width="{{item[1]}}" height="{{item[2]}}" title="{{item[3]}}"></button>
                <div class = "text">
                    {{item[3]}}
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}