{% extends "base.html" %}

{% block script %}
<script>
    var clickCount = 0;

    function disableButton() {


        loading()
        

        if (clickCount == 1){
            var elements = document.getElementsByClassName("button");
            for(var i = 0; i < elements.length; i++) {
                elements[i].disabled = true;
            }
        }

        else {
            ;
        }
        

        clickCount += 1
    }

    function loading(){

        var loading = document.getElementsByClassName("loading")

        var loading = loading[0];

        loading.style.opacity = "100";

    }
</script>
{% endblock %}

{% block style %}
<style>
    body{
        background-image: url("static/assets/background.png");
        background-size: cover;
        background-attachment: fixed;
    }
    button {
        padding:0;
        border:none;
        background:none;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    button:hover, button:focus {
        filter: brightness(90%);
        outline: none;
    }
    .icons {
        text-align: center;
        position: relative;
        top: 250px;
    }
    ::-webkit-scrollbar {
        display:none
    }
    .reset {
        position:absolute;
        padding-top:20px;
        padding-left:20px;
    }
    .loading {
        opacity: 0;
        display:flex;
        position:absolute;
        top:50px;
        left:47.25%;
    }
    .loading::after{
        content:"";
        width:50px;
        height:50px;
        border: 8px solid #fff;
        border-top-color: #dfbf98;
        box-shadow:0px 0px 7px rgba(0,0,0,0.1);
        border-radius:50%;
        animation: loading 1s linear infinite;
    }
    @keyframes loading {
        to {
            transform: rotate(1turn);
        }
    }
    .box {
        display: inline-block;
        vertical-align: middle;
    }
    .text{
        position:relative;
        color:white;
        bottom:100px;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        user-select: none; 
        pointer-events: none;
    }
    
</style>
{% endblock %}

{% block body %}
<form action="/home" method="post">
    <div class="reset">
        <button type="sumbit" name='reset'><img src="static/assets/reset.png" width="65" height="65" title="reset files"></button>
    </div>

    <div class="icons">
        {% for item in folder_list %}
        <div class = "box">
            <button class="button" onclick="disableButton()" type="sumbit" name='{{item}}'><img src="static/assets/folder_image.png" width="198.5" height="151" title='{{item}}'></button>
            <div class = "text">{{item}}</div>
        </div>
        {% endfor %}
    </div>

    <div class="loading"></div>
</form>
{% endblock %}