{% extends "base.html" %}

{% block style %}       
<style>

    html, body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;

        
        background-image: url("static/assets/background.png");
        background-size: cover;
        background-attachment: fixed;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .form {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding-top:10px;
        font-size: 16px;
    }

    button {
        padding:0px;
        padding-top:5px;
    }

    h2 {
        text-align:center;
        margin-top:20px;
        margin-bottom:20px;
        font-weight:bold;
    }

    button:hover{
        filter: brightness(90%)
    }

    .wrapper {
        border: rounded;
        border-radius:10px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    input{
        border-radius: 10px;
        border: 1px solid #ccc;
        padding-left: 10px;
        height:35px
    }

    input:focus {
        border: 1px solid rgb(143, 143, 143);
        outline: none;
    }
    
    #login-button {
        font-weight: 500; 
        color:white; 
        border-radius:30px; 
        padding-right:40px; 
        padding-left:40px; 
        border:none; 
        background-color: #91bcf5;
    }

    #forgot-password-button {
        color: #7d99bd; 
        font-size:15px; 
        position:relative; 
        left:54%; 
        border:none; 
        background:none
    }

    
</style>
{% endblock %}

{% block content %}
<div class="wrapper" style="background-color:rgba(255, 255, 255, 0.6)">
    <div class="form-signin">
        <h2>Login</h2>
        <form action="/login" method="post" novalidate>
            <div class="form">
                <label style="color: #949494">{{ form.email.label }}</label>
                <div class="input_field">{{ form.email(size=32, class=input) }}</div>
                <br>
                <label style="color: #949494">{{ form.password.label }}</label>
                <div class="input_field"></div>{{ form.password(size=32, class=input) }}</div>
                <!--<button id="forgot-password-button">Forgotten Password?</button>//-->
                <br>
                <input type=submit value=Login id=login-button>
            </div>
        </form>
    </div>
</div> 
{% endblock %}
